/* Color Palette
# - #373f51
# - #a9bcd0
# - #d8dbe2
# - #58a4b0
*/

/* Global styles 
------------------------------------*/
.content-wrap{
    width: 950px; 
    margin: 0 auto; 
}
body {
    background: #373f51;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}


/* Header & Footer 
------------------------------------*/
header{
    background: #a9bcd0;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal; 
}
footer{
    background: #d8dbe2;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal; 
}

h1,h2{
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 35px;
}

/* Work Experience
------------------------------------*/
#Work-Experience{
    background: #58a4b0;
}


/* Education
------------------------------------*/
#Education{
    background: #58a4b0;
}